* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
}

body {
  /* color: var(--foreground); */
  background: #000000;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  background: #ffffff;
  color: #000000;
  height: 13rem;
  width: auto;
  display: flex;
  align-items: center;
  padding: 2.5rem;
  margin-bottom: 2rem;
}

.navbar > h1 {
  font-weight: 800;
  font-size: 2.5rem;
  margin-right: auto;
}

.navbar > a {
  font-weight: 600;
  font-size: 1.5rem;
}

.navbar > a:hover {
  transform: scale(1.1);
  transform-origin: center;
  text-decoration: underline #000;
}

.main-content {
  color: #fff;
}

.landingpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 50vh;
}

.landingpage > img {
  margin-bottom: 0.5rem;
}
.landingpage > h1 {
  color: #2e2e2f;
  margin-bottom: 0.5rem;
}

.landingpage > a {
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.landingpage > a:hover {
  transform: scale(1.1);
  transform-origin: center;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  min-height: 50vh;
  padding: 2rem;
}

.not-found h1 {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.not-found p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.not-found-link {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  text-decoration: underline;
}

.not-found-link:hover {
  text-decoration: none;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: start;
  justify-items: start;
  height: 2.5rem;
  background: #2e2e2f;

  /* color: grey; */
  width: 50rem;
  border-radius: 6px;
  padding-left: 1em;
}

.search-icon {
  color: #fff;
}

.searchbar > input {
  color: #fff;
}

.searchbar > button,
input {
  height: 2.5rem;
  font-size: 1rem;
}

.searchbar > input,
textarea {
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: transparent;
  width: 80%;
  font-size: 1rem;
  text-indent: 1em;
  margin-right: auto;
}

.searchbar > input:focus,
textarea:focus {
  outline: none;
  border: none;
}

.searchbar-button {
  width: 15%;
  border: transparent;
  border-radius: 0 5px 5px 0;
  background-color: transparent;
  color: white;
  background: #4b4b4b;
  cursor: pointer;
}

.movie-detail {
  color: white;
}

.detail-line {
  color: #fff;
}

.searchbar-container {
  margin: 4rem 0rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.movie-list-container {
  width: 90%;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: start;
  margin: auto;
}

.movie-container {
  /* border: 1.5px solid #2c2c; */
  border-bottom: 1.5px solid #2c2c2c;
  /* margin-bottom: 2.5em; */
  display: grid;
  align-items: start;
  justify-content: start;
  grid-template-columns: auto 3fr;
  gap: 1.5rem;
  padding: 2rem;
}

/* .movie-container > hr {
  border: 1.5px solid #2C2C2C;
} */

/* .movie-detail {
  display: grid;
  grid-template-columns: .5fr 1fr;
  column-gap: 2em; 
} */

.movie-detail-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
}

.title-line {
  color: #fff;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0.5em;
}

.star-rating {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding-top: 0.5em;
}

.title-line > h1,
p {
  color: #fff;
  padding-right: 0.5em;
  padding-top: 0;
  margin-top: 0;
}

.star-icon {
  width: 1.5em;
  color: gold;
}

.line-2 {
  display: flex;
  gap: 1rem;
}

.addBtn {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  display: inline-flex;
  align-items: flex-start;
  gap: 0.25em;
  color: #fff;
}

.addBtn:hover {
  font-weight: 800;
  text-decoration: underline;
}

/* Main Content Page */

.main-content {
  display: grid;
  justify-content: center;
}

.main-content > a {
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  color: #4b4b4b;
}

.main-content > a:hover {
  transform: scale(1.1);
  transform-origin: center;
  color: #fff;
  text-decoration: underline solid;
}

.empty {
  text-align: center;
}

.header-empty {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.plot-container {
  color: #a5a5a5;
  display: block;
}

.read-more {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  display: inline;
}

.read-more:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
  .movie-container {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .navbar > h1 {
    font-weight: 800;
    font-size: 2rem;
    margin-right: auto;
  }

  .navbar > a {
    font-weight: 600;
    font-size: 1rem;
  }

  .searchbar-container {
    width: 80%;
    margin: auto;
  }

  .searchbar-button {
    width: auto;
    padding: 0.5rem;
  }
}
